@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
body { font-family: 'Roboto', sans-serif; background: #303945; color: #333 }
hr { border-color: rgba(255, 255, 255, .2) }
p { font-size: 13px; margin: 5px 0 }

.container { max-width: 750px }

#items, #main { margin: 0 }

#main { background: #101010; color: #e0e0e0 }
#main h1, #main h2, #main h3 { color: #f0f0f0 }
#main .container { background: #202020; padding: 15px }

#items { background: #101315 }
@media (max-width: 767px) { /* XS */
	#items .container { padding: 0 }
}
@media (min-width: 768px) { /* SM, MD, LG */
	#items .list, #main .container { box-shadow: 0 0 20px 2px rgba(0, 0, 0, .35) }
}

#items .item { background: #eee; position: relative; background-size: cover; background-position: center center; background-repeat: no-repeat; height: 120px; border-top: 1px solid rgba(0, 0, 0, .4); border-bottom: 1px solid rgba(0, 0, 0, .3) }
#items .item.item-sm { height: 80px }
#items .item.item-lg { height: 160px }
#items .item.item-text { background: #303945; height: 80px }
#items .item.item-text.item-sm { height: 40px }
#items .item.item-text.item-lg { height: 120px }

#items .item#redirect { height: 80px }
#items .item:not(#redirect) { cursor: pointer }

#items .item .popup { background: rgba(0, 0, 0, .65); position: absolute; display: block; width: auto; top: 10px; left: 10px; padding: 5px 10px; line-height: 1; color: #fff; font-size: 10px; text-transform: uppercase; cursor: default; border-radius: 3px }
#items .item .popup.popup-primary, #items .item .popup.ongoing { background: rgba(46, 109, 164, .65) } /* Blue */
#items .item .popup.popup-success { background: rgba(76, 174, 76, .65) } /* Green */
#items .item .popup.popup-info { background: rgba(70, 184, 218, .65) } /* Light Blue */
#items .item .popup.popup-warning { background: rgba(238, 162, 54, .65) } /* Orange */
#items .item .popup.popup-danger, #items .item .popup.canceled { background: rgba(212, 63, 58, .65) } /* Red */

#items .item .content { position: absolute; padding: 10px; top: 50%; left: 50%; float: left; text-align: center; color: #fff; text-shadow: -1px -1px 5px rgba(0, 0, 0, .35), 1px -1px 5px rgba(0, 0, 0, .35), -1px 1px 5px rgba(0, 0, 0, .35), 1px 1px 5px rgba(0, 0, 0, .35); transform: translate(-50%, -50%) }
#items .item .content h1 { font-size: 30px; margin: 5px 0 }
@media (max-width: 767px) { /* XS */
	#items .item:not(.big) .content h1 { font-size: 22px }
	#items .item .content p { font-size: 13px }
}
@media (min-width: 768px) { /* SM, MD, LG */
	#items .item .content p { font-size: 15px }
}

#footer { background: #202630; margin: 0; padding: 20px 0; text-align: center; color: #fff }
@media (max-width: 767px) { /* XS */
	#footer { font-size: 11px }
	#footer > *:first-child { font-size: 13px }
}
@media (min-width: 768px) { /* SM, MD, LG */
	#footer { font-size: 13px }
	#footer > *:first-child { font-size: 15px }
}
#footer p, #footer ul { margin-bottom: 5px }
#footer a { color: #fff; text-decoration: underline }
#footer a:hover { text-decoration: none }

#footer > ul { padding: 0 }
@media (max-width: 767px) { /* XS */
	#footer > ul > li { display: block }
}
@media (min-width: 768px) { /* SM, MD, LG */
	#footer > ul > li { display: inline-block }
	#footer > ul > li:not(:first-child) { margin-left: 5px; padding-left: 8px; border-left: 1px solid #fff; }
}

#main *:first-child, #items *:first-child, #footer *:first-child { margin-top: 0 }
#main *:first-child, #items *:first-child, #footer *:last-child { margin-bottom: 0 }